﻿@using Frontend.Tests.Models
@model Recipe

<div class="row">
    @using (Html.BeginForm("Add", "Crescendo", FormMethod.Post))
    {
        <h2>Add Recipe</h2>
        <div class="row">
            <div class="form-group col-3">
                @Html.Label("Title", new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Title" })
            </div>
            <div class="form-group col-3">
                @Html.Label("Servings", new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Servings, new { @class = "form-control", placeholder = "Servings" })
            </div>
            <div class="form-group col-3">
                @Html.Label("Preparation Time", new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.PrepTime, new { @class = "form-control", placeholder = "Preparation Time" })
            </div>
            <div class="form-group col-3">
                @Html.Label("Cooking Time", new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.CookTime, new { @class = "form-control", placeholder = "Cooking Time" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                @Html.Label("Description", new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
            </div>
        </div>
        <div class="row mt-3">
            <div class="form-group col-6">
                <button type="button" class="btn btn-outline-dark col-4">Add Ingredients</button>
            </div>
        </div>
        @Html.HiddenFor(model => model.PostDate, new { Value = DateTime.Now })
        @Html.HiddenFor(model => model.EditDate, new { Value = DateTime.Now })
        <div class="row mt-5">
            <div class="form-group col-6">
                <button type="submit" class="btn btn-outline-success col-6">Submit</button>
            </div>
        </div>

    }
</div>