﻿@using Frontend.Tests.Models
@using Frontend.Tests.Controllers
@model Recipe

@if (Model != null)
{
    <div class="row">
        <h2>@Model.Title</h2>
        <h6>@Model.Description</h6>
        @if (Model.Images != null)
        {
            <img src="@Model.Images.Full" class="img-responsive img-thumbnail" />
        }
    </div>
    <div class="row">
        <div class="col-6">
            <p>Servings: @Model.Servings</p>
        </div>
        <div class="col-6">
            <p>Post Date: @Model.PostDate</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>Preparation Time: @Model.PrepTime</p>
        </div>
        <div class="col-6">
            <p>Edit Date: @Model.EditDate</p>
        </div>
    </div>
    <div class="row">
        <p>Cook Time: @Model.CookTime</p>
    </div>
    <div class="row">
        <h4>Ingredients</h4>
        @if (Model.Ingredients != null)
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Measurement</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ingredient in Model.Ingredients)
                        {
                            var specials = CrescendoController.GetSpecialIngredient(ingredient.UUID);

                            <tr>
                                <td class="col-6">
                                    <p class="fw-bold">@ingredient.Name</p>
                                    @if (specials?.Count > 0)
                                    {
                                        <div class="row m-1">
                                            <h6>Specials</h6>
                                            @foreach (var special in specials)
                                            {
                                                <p>Title: @special.Title</p>
                                                <p>Type: @special.Type</p>
                                                <p>Text: @special.Text</p>
                                            }
                                        </div>
                                    }

                                </td>

                                <td class="col-2">@ingredient.Amount</td>
                                <td class="col-4">@ingredient.Measurement</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
    <h4>Directions</h4>

    if (Model.Directions != null)
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Optional</th>
                        <th>Instructions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var direction in Model.Directions)
                    {
                        string optionalText = direction.Optional ? "YES" : "NO";
                        <tr>
                            <td class="col-1">@optionalText</td>
                            <td class="col-11">@direction.Instructions</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}
else
{
    <p>No data available</p>
}