﻿@using Frontend.Tests.Models
@model List<Recipe>

@{
    int counter = 0;
}

@helper AddRecipeItems(Recipe recipe)
{
    <div class="col-4 img-thumbnail">
        <a href="@Url.Action("Details", "Crescendo", new { recipeId = recipe.UUID })">
            @if (recipe.Images != null)
            {
                <img src="@recipe.Images.Small" class="img-responsive img-rounded" />
            }
            <h2>@recipe.Title</h2>
            <h6>@recipe.Description</h6>
        </a>
        <div class="row">
            <div class="col-6">
                @Html.ActionLink("Update", "Update", "Crescendo", new { recipeId = recipe.UUID }, new { @class = "btn btn-outline-success" })
            </div>
            <div class="col-6">
                @Html.ActionLink("Delete", "Delete", "Crescendo", new { recipeId = recipe.UUID }, new { @class = "btn btn-outline-danger" })
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    foreach (var recipe in Model)
    {

        if (counter % 3 == 0)
        {
            @:<div class="row text-center">
                @AddRecipeItems(recipe)
            }
            else
            {
                @AddRecipeItems(recipe)
            }
            counter++;
            if (counter % 3 == 0 || recipe == Model.Last())
            {
            @:</div>
        }
    }
}