﻿@using Frontend.Tests.Models
@model Special

<script type="text/javascript">
    function AssociateToIngredient() {

        $.getJSON("/Crescendo/GetAllIngredients", function (data) {
            console.log(data);
        })
    }

</script>

<div class="row">
    @using (Html.BeginForm("Special", "Crescendo", FormMethod.Post))
    {
        <h2>Add Special</h2>
        <div class="row col-6">
            <div class="form-group col-6">
                @Html.Label("Title", new { @class = "col-form-label" })
                @Html.TextBox("Title", "", new { @class = "form-control", placeholder = "Title" })
            </div>
            <div class="form-group col-6">
                @Html.Label("Type", new { @class = "col-form-label" })
                @Html.TextBox("Type", "", new { @class = "form-control", placeholder = "Type" })
            </div>
        </div>
        <div class="row col-6">
            <div class="form-group col-6">
                @Html.Label("Geo", new { @class = "col-form-label" })
                @Html.TextBox("Geo", "", new { @class = "form-control", placeholder = "Geo" })
            </div>
            <div class="form-group col-6">
                @Html.Label("Text", new { @class = "col-form-label" })
                @Html.TextBox("Text", "", new { @class = "form-control", placeholder = "Text" })
            </div>
        </div>
        <div class="row mt-3">
            <div class="form-group col-6">
                <button type="button" class="btn btn-outline-dark col-4" onclick="AssociateToIngredient()">Associate to Ingredient</button>
            </div>
        </div>
        <div class="row mt-5">
            <div class="form-group col-6">
                <button type="submit" class="btn btn-outline-success col-6">Submit</button>
            </div>
        </div>
    }
</div>