﻿@using Frontend.Tests.Models
@using Frontend.Tests.Controllers

@model List<Special>

<script type="text/javascript">
    $(function () {
        $('#update-special').hide();

        $('#uuid-dropdown').on('change', function () {

            $.getJSON("/Crescendo/GetSpecialItem/" + this.value, function (data) {

                $('[name=IngredientId]').val(data.IngredientId);
                $('[name=Title]').val(data.Title);
                $('[name=Type]').val(data.Type);
                $('[name=Geo]').val(data.Geo);
                $('[name=Text]').val(data.Text);
                $('#update-special').show();

            });

        });
    });   
</script>

@if (Model?.Count > 0)
{
    <div class="row">
        @using (Html.BeginForm("UpdateSpecial", "Crescendo", FormMethod.Post))
        {
            <h2>Update Special</h2>

            <div class="row col-6">
                <div class="form-group col-6">
                    @Html.Label("UUID", new { @class = "col-form-label" })
                    @Html.DropDownList("UUID", new SelectList(Model.Select(s => s.UUID)), "Please Select", new { @class = "form-control", @id = "uuid-dropdown" })
                    @Html.Hidden("IngredientId")
                </div>
            </div>
            <div id="update-special">
                <div class="row col-6">
                    <div class="form-group col-6">
                        @Html.Label("Title", new { @class = "col-form-label" })
                        @Html.TextBox("Title", "", new { @class = "form-control", placeholder = "Title" })
                    </div>
                    <div class="form-group col-6">
                        @Html.Label("Type", new { @class = "col-form-label" })
                        @Html.TextBox("Type", "", new { @class = "form-control", placeholder = "Type" })
                    </div>
                </div>
                <div class="row col-6">
                    <div class="form-group col-6">
                        @Html.Label("Geo", new { @class = "col-form-label" })
                        @Html.TextBox("Geo", "", new { @class = "form-control", placeholder = "Geo" })
                    </div>
                    <div class="form-group col-6">
                        @Html.Label("Text", new { @class = "col-form-label" })
                        @Html.TextBox("Text", "", new { @class = "form-control", placeholder = "Text" })
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="form-group col-6">
                        <button type="submit" class="btn btn-outline-success col-6">Update</button>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No data available.</p>
}