﻿@using Frontend.Tests.Models
@using Frontend.Tests.Controllers

@model Recipe

@if (Model != null)
{
    using (Html.BeginForm("Update", "Crescendo", FormMethod.Post))
    {
        <h2>Updating Recipe Id: @Model.UUID</h2>
        <div class="row">
            <div class="form-group col-3">
                @Html.Label("Title", new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Title" })
            </div>
            <div class="form-group col-3">
                @Html.Label("Servings", new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Servings, new { @class = "form-control", placeholder = "Servings" })
            </div>
            <div class="form-group col-3">
                @Html.Label("Preparation Time", new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.PrepTime, new { @class = "form-control", placeholder = "Preparation Time" })
            </div>
            <div class="form-group col-3">
                @Html.Label("Cooking Time", new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.CookTime, new { @class = "form-control", placeholder = "Cooking Time" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-6">
                @Html.Label("Description", new { @class = "col-form-label" })
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", placeholder = "Description" })
            </div>
        </div>
        <div class="row">
            @if (Model.Images != null)
            {
                <img src="@Model.Images.Full" class="img-responsive img-thumbnail " />
                @Html.HiddenFor(model => model.Images.Full)
                @Html.HiddenFor(model => model.Images.Medium)
                @Html.HiddenFor(model => model.Images.Small)
            }
        </div>
        <div class="row">
            <h4>Ingredients</h4>
            @if (Model.Ingredients != null)
            {
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Measurement</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int counter = 0; counter < Model.Ingredients.Count; counter++)
                            {
                                <tr>
                                    @Html.HiddenFor(model => model.Ingredients[counter].UUID)
                                    <td class="col-6">
                                        @Html.TextBoxFor(model => model.Ingredients[counter].Name, new { @class = "form-control", placeholder = "Ingredient Name" })
                                    </td>

                                    <td class="col-2">
                                        @Html.TextBoxFor(model => model.Ingredients[counter].Amount, new { @class = "form-control", placeholder = "Amount" })
                                    </td>
                                    <td class="col-4">
                                        @Html.TextBoxFor(model => model.Ingredients[counter].Measurement, new { @class = "form-control", placeholder = "Measurement" })
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
        <h4>Directions</h4>

        if (Model.Directions != null)
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Optional</th>
                            <th>Instructions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int counter = 0; counter < Model.Directions.Count; counter++)
                        {
                            string optionalText = Model.Directions[counter].Optional ? "YES" : "NO";
                            <tr>
                                <td class="col-1">
                                    @Html.CheckBoxFor(model => model.Directions[counter].Optional, new { @class = "form-check-input" })
                                </td>
                                <td class="col-11">
                                    @Html.TextBoxFor(model => model.Directions[counter].Instructions, new { @class = "form-control", placeholder = "Instructions" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @Html.HiddenFor(model => model.UUID)
            @Html.HiddenFor(model => model.EditDate, new { Value = DateTime.Now })
            @Html.HiddenFor(model => model.PostDate, new { Value = DateTime.Now })
            <button type="submit" class="btn btn-outline-success col-4">Update</button>
        }
    }
}
else
{
    <p> No data available</p>
}