﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row col-8">
                @Html.ActionLink("Home", "Index", "Crescendo", new { area = "" }, new { @class = "btn btn-outline-primary col-3" })
                @Html.ActionLink("Add Recipe", "Add", "Crescendo", new { area = "" }, new { @class = "btn btn-outline-secondary col-3" })
                @Html.ActionLink("Add Special", "Special", "Crescendo", new { area = "" }, new { @class = "btn btn-outline-secondary col-3" })
                @Html.ActionLink("Update Special", "UpdateSpecial", "Crescendo", new { area = "" }, new { @class = "btn btn-outline-secondary col-3" })
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2021 - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>